.content {
    display: flex;
}

.person {
    margin: 5px 10px;
    width: 30%
}

.dialog {
    margin: 5px 10px;
    object-position: right;
    width: 70%
}

.item:hover {
    background-color: lightskyblue;
}